@font-face {
    font-family: Montserrat-Light;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Light.ttf);
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
  }
  
  @font-face {
    font-family: Montserrat-Regular;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
  }
  